<!-- About: Main-->

<body>
  <div class="main bg-cyan-700 w-screen h-screen px-32 py-10">
    <div class="flex">
      <h1
        class="font-mono font-bold text-4xl text-cyan-100 w-full flex justify-center"
      >
        About
      </h1>
    </div>
    <div class="flex items-center h-full justify-between flex-wrap">
      <div>
        <h1 class="text-cyan-100 slide-left">Name:</h1>
        <p class="text-cyan-100 slide-left">Gabriel Nunes Ribeiro</p>
        <h1 class="text-cyan-100 slide-left">Born:</h1>
        <p class="text-cyan-100 slide-left">11/22/2003 in Medianeira,PR - Brazil</p>
        <h1 class="text-cyan-100 slide-left">Nacionality:</h1>
        <p class="text-cyan-100 slide-left">Brazillian</p>

        <h1 class="text-cyan-100 slide-left">Tecnologies:</h1>
        <p class="text-cyan-100 slide-left">.NET, Angular, SQL</p>
        <h1 class="text-cyan-100 slide-left">Worked with:</h1>
        <p class="text-cyan-100 slide-left">AGILE methods, DevOps, SCRUM</p>
        <h1 class="text-cyan-100 slide-left">Certifications:</h1>
        <p class="text-cyan-100 slide-left">AZ-900</p>
        <p class="text-cyan-100 slide-left">
          Currently graduating Software Engineering in Uniguaçu Faesi ( São
          Miguel do Iguaçu, PR)
        </p>
      </div>
      <div class="image slide-right"></div>
    </div>
  </div>
</body>
