
  <div class="bg-white main flex flex-col items-center justify-center">
    <header
      class="font-mono font-bold text-4xl text-cyan-100 bg-cyan-700 w-7/12 h-full flex justify-center"
    >
      {{ titleText }}
    </header>
      <p class="text-3xl w-full h-full flex justify-center break-all">
        {{ contactText }}
      </p>
      <button (click)="copy()" class="flex justify-center">
        <img
          class="rounded"
          src="https://cdn-icons-png.flaticon.com/512/1621/1621635.png"
          width="5%"
          height="5%"
          alt=""
        />
      </button>
  </div>

